#vcenter
{
    padding: 20px 0;
    border: 1px solid red;
    text-align: center;
}

#imgtest
{
    /*text-align: center;*/
}

#imgtest img
{
    display: block;
    margin: 0 auto;
}

#centertest
{
    margin: auto;
    width: 50%;
    border: solid 1px green;
    text-align: center;
}

.text_line
{
    clear: both;
}

#floattest
{
    /*height: 200px;*/
    width: auto;
}

#floattest img
{
    float: right;
}

#hiddentest
{
    height: 100px;
    overflow: hidden;
    border: green 1px solid;
    margin: 10px;
}

#overflow
{
    background: #4caf50;
    color: white;
    padding: 15px;
    border: 1px green dotted;
    width: 80%;
    height: 100px;
    overflow: scroll;
}

#ztest img
{
    position: absolute;
    right:10px;
    z-index: -1;
}

div.sticky
{
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4caf50;
}

div.relative
{
    position: relative;
    left: -10px;
    border: solid green 1px;
}

div.fixed
{
    position: fixed;
    top: 500px;
    right: 5px;
}

div.static
{
    position: static;
    border: green 1px solid;
}

#mypadding
{
    padding: 10px;
    border: 1px solid red;
    background-color: green;
}

#mymargin
{
    margin: 10px;
    border: 1px solid red;
    background-color: green;
}

.mydiv {
    background-color: lightgrey;
    width: 300px;
    /*border: 25px solid green;*/
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
}

a:link {color:#000000;}      /* 未访问链接*/
a:visited {color:#00FF00;}  /* 已访问链接 */
a:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
a:active {color:#0000FF;}  /* 鼠标点击时 */

ul.a {list-style-type:circle;}
ul.b {list-style-type:square;}
ol.c {list-style-type:upper-roman;}
ol.d {list-style-type:lower-alpha;}

#myout
{
    border: 1px solid red;
    outline: green dotted thick;
}
